body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  display: grid;
  place-content: center;
  height: 100vh;
  margin-top: 3em;
  margin-bottom: 3em;
}

h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;
  padding: 0;
}


.App{
  width: 317px;
  background: white;
  border-radius: 10px;
}



.main--bio > h1{
  font-size: 25px;
  line-height: 30.26px;
  text-align: center;
  font-weight: 700;
  margin: 20px 70px 7px 70px;
}

.main--bio > h6{
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.49px;
  text-align: center;
  color: #F47D27;
  margin: 0px 70px 9px 70px;
}

.main--bio > p{
  color: #4A4E74;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  font-size: 10.24px;
}

.button{
  background-color: white;
  border: none;
  border-radius: 6px;
  color: black;
  padding: 9px 13px 9px 11px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 115px;
}

.btn--img{
  margin-right: 4px;
}

.sm--tags{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
  margin-top: 17px;
}

.btn--styleII{
  background-color: #297FE5;
  color: white;
}

.content--section{
  padding: 0 35px;
  height: 201px;
}

.content--section > h3{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin-top: 25px;
}

.content--section > p{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  font-style: normal;
  margin-top: 5px;
}

footer{
  background-color: #D5D4D8;
  margin-top: 31px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer--list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 1em 0;
}

